*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Poppins";
}
/* the buttons colors : hsl(322, 100%, 66%) */

header{
    height: 690px;
    background-image: url("images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
}

header .navigation{
    display: flex;
    justify-content: space-between;
    padding: 4% 77px 0 77px;
}
.logo{
    width: 192px;
    height: 29px;

}
.navigation > a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    word-spacing: 4px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 55px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}
.navigation > a:hover{
    color: hsl(208, 11%, 55%);
}
.heading-container{
    display: flex;
    justify-content: space-between;
    margin: 3% 5% 0 77px;
}

.heading-container .headline-container{
    width: calc(100%/2);
    margin-top: 80px;
}
.headline{
    font-size: 39px;
    width: 80%;
}
.sub-headline{
    margin: 30px 0;
    font-size: 16px;
    width: 77%;
    line-height: 20px;
}
.start-btn{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 40px;
    font-size: 13px;
    padding: 15px 60px;
    text-decoration: none;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}
.start-btn:hover{
    opacity: 0.7;
}
.heading-container .mockup{
    width: 600px;
    height: 450px;
}
section{
    position: relative;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 200px 50px;

}
section article{
    display: flex;
    justify-content: center;
    gap: 10%;
    border-radius: 10px;
    height: 500px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}
section article > *{
    width: calc(100%/2);
}
section article img{
    height: 400px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
section article .card-text{
    height: 200px;
    width: 800px;
    margin: 130px 10%;
}
.card-headline{
    font-size: 40px;
    font-weight: bold;
}
.start-card{
    position: absolute;
    bottom: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    background-color: #fff;
    padding: 60px  150px;
    box-shadow: 0px 20px 15px -3px rgba(0,0,0,0.1);
}
footer{
    background-color: hsl(192, 100%, 9%);
    color: hsl(208, 11%, 55%);
    padding: 150px 0px 80px 100px;
}
footer .footer-container{
    display: flex;
    width: 100%;
    gap: 150px;
    justify-content: space-between;
}
footer .footer-container .info{
    width: 30%;
    margin-top: 40px;
}
.location , .phone,.email{
    display: flex;
    gap: 30px;
    font-size: 14px;
}
.location * , .phone * ,.email *{
    font-size: 14px;
}
.location i,.phone i,.email i{
    margin-top: 3px;
}
.roadpage{
    width: 30%;
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.roadpage ul li{
    list-style-type: none;
    margin: 15px 0;
}
.roadpage ul li a{
    font-size: 14px;
}
.roadpage ul li a:hover{
    text-decoration: underline;
}

.us{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.us .icons i{
    margin: 0 15px;
    padding: 10px;
    color: hsl(208, 11%, 55%);
    border: hsl(208, 11%, 55%) solid 1px;
    border-radius: 50%;
}
#facebook-icon{
    padding: 10px 13px;
}
.us i:hover{
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
}
.us-text{
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}
footer .logo{
    height: 100%;
}